.desc1 {
    text-align: center;
    font-size: large;
}

.desc2 {
    text-align: center;
    font-size: large;
}

#image1{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.carousel-item img{
    width: 250px;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    
}

#carouselExampleAutoplaying {
    max-width: 1000px;
    margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

